@model List<UserListModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <table class="mt-4 table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Account Count</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
                @foreach(var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td><getAccountCount application-user-id="@item.Id"></getAccountCount></td>
                    <td><a asp-action="Create" asp-controller="Account" asp-route-id="@item.Id">Create New Account</a></td>
                    <td><a asp-action="GetAccountsByUserId" asp-controller="Account" asp-route-userId="@item.Id">Show Account(s)</a></td>
                </tr>
                }
        </tbody>
    </table>
</div>
