@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
            <th>@item.StaffID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a asp-controller="Staff" asp-action="DeleteStaff" asp-route-id="@item.StaffID" class="btn mb-1 btn-rounded btn-outline-danger w-100">Delete</a></td>
            <td><a asp-controller="Staff" asp-action="UpdateStaff" asp-route-id="@item.StaffID" class="btn mb-1 btn-rounded btn-outline-success w-100">Update</a> </td>
            <td> <a href="#" class="btn mb-1 btn-rounded btn-outline-dark w-100">Details</a> </td>

                </tr>
            }
</table>

<a asp-controller="Staff" asp-action="AddStaff" class="btn mb-1 btn-rounded btn-outline-info">Add New Staff</a>
