@model List<Kitap>
@using WebApplication1.Utility

@if (TempData["basarili"] != null)
{
    <div id="basariliAlert" class="alert alert-success" role="alert">
        @TempData["basarili"]
    </div>

    <script>
        setTimeout(function() {
            $('#basariliAlert').fadeOut('slow');
        }, 1000);
    </script>
}


<style>
      .col-1 {
        width: 14%;
    }
   
</style>

<div class="container">
     
    <div class="row pt-3 pb-4"><h1>Kitaplar</h1></div>
    
        <table class="table table-bordered">
           <thead>
            <tr>
                <th class="col-1">
                    Resim
                </th>
                <th class="col-1">
                    Id
                </th>
                <th class="col-2">
                    Kitap Adı
                </th>
                <th class="col-1">
                    Tanım
                </th>
                <th class="col-1">
                    Yazar
                </th>
                <th class="col-1">
                    Fiyat
                </th>
                <th class="col-1">
                    Kitabın Türü
                </th>
       
               @if (User.IsInRole(UserRoles.Role_Admin))
                     {
                 <th class="col-1"></th>   
                 <th class="col-1"></th>
                     }
            </tr>
           </thead>
           <tbody>
    
                @foreach(var kitap in Model)
                {
                  <tr>
                    <td align="center" valign="center">
                        <img src="@kitap.ResimUrl" style="max-width:145px; max-height:275px; border-radius:1rem; border:1px solid #bbb9b9" />

                    </td>

                     <td>@kitap.Id</td>
                     <td>@kitap.KitapAdi</td>
                     <td>@kitap.Tanim</td>
                     <td>@kitap.Yazar</td>
                     <td>@kitap.Fiyat</td>
                     <td>@kitap.KitapTuru.Ad</td>
                    @if (User.IsInRole(UserRoles.Role_Admin))
                     {
                     <td><a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@kitap.Id" style=" width: 100%;" type="button" class="btn btn-warning btn-block">Güncelle</a></td>
                     <td><a asp-controller="Kitap" asp-action="Sil"  asp-route-id="@kitap.Id" style=" width: 100%;" type="button" class="btn btn-danger btn-block">Sil</a></td>
                     }
                 </tr>
                }
           </tbody>
        </table>

    <div class="row pt-3 pb-2">
        <div>
               @if (User.IsInRole(UserRoles.Role_Admin))
                     {
            <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-primary" type="button">
                Yeni Kitap Ekle
            </a>
                     }
        </div>
    </div>
</div>