@using FirstApp.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h3>Customer List</h3>
         <a asp-action="Create" asp-controller="Home">Create</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.firstName</td>
                        <td>@item.lastName</td>
                        <td>@item.age</td>
                        <td> <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id">Update</a></td>
                        <td> <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id">Delete</a></td>
                    </tr>
                }
            </tbody>


        </table>
  

